body {
  font: 15px sans-serif;
  font-weight: 1000;
  background: url('./../assets/bg.jpg') center center no-repeat fixed;
  height: 100vh;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dogs-container {
  /* margin: 10px 0; */
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 20px;
  /* border-bottom: 1px solid #ddd; */
}

.dogs-container .dog {
  flex: 1 0 20%;
  margin: 5px 0;
  cursor: pointer;
  box-sizing: border-box;
}

.cover {
  padding: 20px;
  object-fit: cover;
}

.nav-container {
  margin: 20px auto;
}

.jumbotron {
  background-color: #f3f4f7;
  padding: 2rem;
}

.back-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  margin: 10px 0;
  width: 100px;
  height: 40px;
  border: none;
  font-size: 14px;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  background: #bd54a4;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn:hover {
  background: #c561ae;
}

.back-btn:active {
  background: #d86bbe;
}

/*NEW STUFF*/
.bg-tinder {
  background-color: #fefefe;
}

.tindtext-dark {
  color: #474747;
}

.tindtext-light {
  color: #bdc2cd;
}

.tindtext-link {
  color: #474747;
}

.tindtext-link:hover {
  color:#bdc2cd;
}

.sticky {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}